$primary: red;
$warning: #fce402;

$font-family-sans-serif:       'Roboto Condensed', "Helvetica Neue", 'Arial', sans-serif;

@import "../node_modules/rfs/scss";

.title {
  @include font-size(1.2rem);
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  max-width: 1350px;
  margin: 0 auto;
}

.text-gray {
  color: gray;
}

nav {
  position: relative;
}

.subscribe-icon {
  color: rgb(98, 98, 98);
  font-size: 1rem;
}

.logo {
  fill: white;
}

.logint-btn {
  font-size: 1.3rem;
}

.nav-right-style {
  height: 15px;
  width: 90px;
  position: absolute;
  bottom: -15px;
  right: 0;
  background: linear-gradient(45deg, #fff 20%, red 20%);
}

.search-input {
  width: 90px;
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.links,
.header-bottom-links {
  border-bottom: 1px solid lightgray;
}

.links li {
  font-size: 1rem;
  border-right: 1px solid lightgray;
}

.nav-link li:hover:not(:last-of-type) {
  color: red;
}

.card p {
  font-weight: 300;
  font-size: 0.9rem;
}

.tag {
  background-color: rgba(228, 228, 228, 0.95);
  position: absolute;
  top: 20%;
  color: $primary;
}
