$primary: red;
$warning: #fce402;

$font-family-sans-serif: "Roboto Condensed", "Helvetica Neue", "Arial",
  sans-serif;

@import "../node_modules/rfs/scss";

.title {
  @include font-size(1.2rem);
}

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  max-width: 1350px;
  margin: 0 auto;
}

.text-gray {
  color: gray;
}

nav {
  position: relative;
}

.subscribe-icon {
  color: rgb(98, 98, 98);
  font-size: 1rem;
}

.logo {
  fill: white;
}

.logint-btn {
  font-size: 1.3rem;
}

.nav-right-style {
  height: 15px;
  width: 90px;
  position: absolute;
  bottom: -15px;
  right: 0;
  background: linear-gradient(45deg, #fff 20%, red 20%);
}

.search-input {
  width: 90px;
}

.search-input:active,
.search-input:focus {
  outline: none;
}

.links,
.header-bottom-links {
  border-bottom: 1px solid lightgray;
}

.links li {
  font-size: 1rem;
  border-right: 1px solid lightgray;
}

.nav-link li:hover:not(:last-of-type) {
  color: red;
}

.card p {
  font-weight: 300;
  font-size: 0.9rem;
}

.tag {
  background-color: rgba(228, 228, 228, 0.95);
  position: relative;
  top: -200px;
  color: $primary;
}

.my-turn-img {
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-right: 0;
}

.img-wraper1 {
  background-image: url("https://d.newsweek.com/en/full/1606679/lombok-earthquake-survival.jpg");
}

.img-wraper2 {
  background-image: url("https://d.newsweek.com/en/full/1606512/coming-out-gay-man-lgbtq.png");
}

.img-wraper3 {
  background-image: url("https://d.newsweek.com/en/full/1606397/mother-teresa-calcutta-volunteering-mental-health.jpg");
}

.img-wraper4 {
  background-image: url("https://d.newsweek.com/en/full/1604673/cul-uncharted-places-banner.jpg");
}

.img-wraper5 {
  background-image: url("https://d.newsweek.com/en/full/1603519/50foods-alabama.jpg");
}

.img-wraper6 {
  background-image: url("https://d.newsweek.com/en/full/1604750/area51-11.jpg?w=397&amp;h=397&amp;f=f687245e4a35c5ede60938e093f8f61d");
}

.sign-up {
  background-color: #f4f5f6;
}

.N-icon {
  width: 29px;
  height: 28px;
}

.second-card {
  top: 30px;
  left: 50px;
}

.newsletter-img {
  background-image: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&amp;h=265&amp;q=90&amp;f=742bce9a6f72dd8f19ba2e7fd5db06e5");
  background-size: cover;
  background-position: center;
}

.debate-divider::before {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 20px;
  right: 20px;
  top: calc(38% - 2px);
}

.debate-divider::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  left: 20px;
  top: 38%;
  right: 20px;
}

.debate-divider p {
  z-index: 999;
}

.footer-logo-img {
  width: 40%;
  fill: $primary;
}

.footer-social-icons i {
  font-size: 25px;
}

.facebook:hover {
  color: #244d9e;
}

.twitter:hover {
  color: #37a1f2;
}

.insta:hover {
  color: #da0051;
}

.tumblr:hover {
  color: #37465d;
}

.linkedIn:hover {
  color: #2677b5;
}

.edition-links::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

footer a {
  font-family: Arial, sans-serif;
}

footer a:hover {
  text-decoration: none;
  color: black;
  font-weight: 300;
}
